<app-header></app-header>
<div class="wrapper draft-wrapper">
    <div class="container">
        <div class="main-content">
            <h4>Need some plans? Don't know how to counter that anti-mage or something else?<br/>
            Select enemy team and find how to beat them!
            </h4>
            <span class="page-title">Counter now!</span>
            <div class="ui-grid ui-grid-pad ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="textbox-control ui-g-12 ui-md-4">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Search heroes" class="ui-g-12 ui-md-12" [(ngModel)]="searchingHeroesText" (keyup)="findHeroesByText()">   
                            <button type="button" (click)="resetSearchingResult();" [hidden]="searchingHeroesText==''"><i class="fa fa-remove"></i></button>      
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row draft-section">
                    <div class="ui-grid-col-4 ui-widget-content draft-hero-type-section">
                        <div class="heroes-type-label">
                            <img src="./assets/images/dota2/others/overviewicon_str.png"/>
                            <span>STRENGTH</span>
                        </div>
                        <div class="heroes-list">
                            <div *ngFor="let hero of availableStrHeroes" class="hero-item" pDraggable="heroes" (onDragStart)="dragStart($event,hero)"
                                (onDragEnd)="dragEnd($event)">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                                <div class="hero-list-icon-holder" *ngIf="!hero.isSearchingResult"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-4 ui-widget-content draft-hero-type-section">
                        <div class="heroes-type-label">
                            <img src="./assets/images/dota2/others/overviewicon_agi.png"/>
                            <span>AGILITY</span>
                        </div>
                        <div class="heroes-list">
                            <div *ngFor="let hero of availableAgiHeroes" class="hero-item" pDraggable="heroes" (onDragStart)="dragStart($event,hero)"
                                (onDragEnd)="dragEnd($event)">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                                <div class="hero-list-icon-holder" *ngIf="!hero.isSearchingResult"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-4 ui-widget-content draft-hero-type-section">
                        <div class="heroes-type-label">
                            <img src="./assets/images/dota2/others/overviewicon_int.png"/>
                            <span>INTELLIGENCE</span>
                        </div>
                        <div class="heroes-list">
                            <div *ngFor="let hero of availableIntHeroes" class="hero-item" pDraggable="heroes" (onDragStart)="dragStart($event,hero)"
                                (onDragEnd)="dragEnd($event)">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                                <div class="hero-list-icon-holder" *ngIf="!hero.isSearchingResult"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12 pick-section">
                        <div class="heroes-slot" *ngFor="let hero of pickingHeroesList, let i = index" [ngClass]="{'heroes-highlight':draggedHeroes}"
                        [id]="i"
                        [ngStyle]="{'background-image': 'url(' + hero.hero_large_img + ')'}"
                        >
                            <div class="heroes-holder" pDroppable="heroes" (onDrop)="drop($event)" [id]="i"></div>
                            <span >{{hero.hero_name}}</span>
                            <i class="fa fa-times" aria-hidden="true" *ngIf="hero!=''" (click)="removeHeroFromPickingList($event,hero)"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>