<app-header></app-header>
<div class="wrapper draft-wrapper">
    <div class="container">
        <div class="main-content">
            <h3>Drag and Drop</h3>
            <div class="ui-grid ui-grid-pad ui-grid-responsive">
                <!--<div class="ui-grid-row">
                    <div class="ui-grid-col-6 ui-widget-content">
                        <div class="heroes-list">
                            <div *ngFor="let hero of availableHeroes" class="hero-item" pDraggable="heroes" (onDragStart)="dragStart($event,hero)" (onDragEnd)="dragEnd($event)">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-6 ui-widget-content" pDroppable="heroes" (onDrop)="drop($event)" [ngClass]="{'ui-state-highlight':draggedHeroes}">
                        <div class="heroes-list">
                            <div *ngFor="let hero of selectedHeroes" class="hero-item">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="ui-grid-row draft-section">
                    <div class="ui-grid-col-4 ui-widget-content draft-hero-type-section">
                        <div class="heroes-list">
                            <div *ngFor="let hero of availableStrHeroes" class="hero-item" pDraggable="heroes" (onDragStart)="dragStart($event,hero)"
                                (onDragEnd)="dragEnd($event)">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-4 ui-widget-content draft-hero-type-section">
                        <div class="heroes-list">
                            <div *ngFor="let hero of availableAgiHeroes" class="hero-item" pDraggable="heroes" (onDragStart)="dragStart($event,hero)"
                                (onDragEnd)="dragEnd($event)">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-4 ui-widget-content draft-hero-type-section">
                        <div class="heroes-list">
                            <div *ngFor="let hero of availableIntHeroes" class="hero-item" pDraggable="heroes" (onDragStart)="dragStart($event,hero)"
                                (onDragEnd)="dragEnd($event)">
                                <img src="{{hero.hero_img}}" style="float:left" draggable="false">
                                <span>{{hero.hero_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12 pick-section">
                        <div class="heroes-slot" *ngFor="let hero of pickingHeroesList" pDroppable="heroes" (onDrop)="drop($event)" [ngClass]="{'heroes-highlight':draggedHeroes}">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>